@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap');
*{
    font-family: 'Chakra Petch', sans-serif;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
  background: #151515;
  color: #eaeaea;   
  padding: 1rem 3rem;
}
/* h1{
  text-align: right;
  color: #eaeaea;
  font-size: 3rem;
}
div{
  display: flex;
    text-align: right;
}
body a{
    font-size: 1.5rem;
}

html{
    scroll-behavior: smooth;

}*/

/* .navbar{
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    padding: 0.2cm 1cm;
    background-color: #151515;

}
.navbar p{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #eaeaea;
} */

nav a{
  font-size: 2.5rem;
  justify-content: space-between;
  text-align: center;
}
/* table {
  border: #eaeaea;
  border-style: inset;
  border-radius: 10%;
} */
table td img{
width: 10rem;
}

table td{
  font-size: 5rem;
  align-content: center;
}
thead th{
  font-size: 5rem;
}
